@import url(./colors.css);

/* Banner e Menu */

header {
    height: 95vh;
    background: url(../assets/banner.png);
    background-position: center;
    background-size: cover;
  }

.titulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
}

.titulo div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5rem;
  padding: 2rem;
  background-color: var(--beige);
}

.titulo img {
  margin-right: 1rem;
  width: 30%;
}

.titulo h1 {
  font-size: 3.2rem;
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  color: var(--title);
}

.first-section img {
  margin-bottom: 6rem;
}

.first-section p {
  text-align: center;
  color: var(--font-color);
}

/* primeira separação */
span .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--desaturated-blue);
  box-shadow: -8px -5px 0 white;
  color: white;
}

/* Apresentações iniciais */

.informacoes-iniciais {
  background-color: var(--beige);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 15%;
  border-radius: 5px;
}

.informacoes-iniciais div p {
  text-align: left;
}

.informacoes-iniciais img {
  width: 10rem;
}

.informacoes-iniciais div {
  margin-top: 1rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.informacoes-iniciais div h3 {
  font-size: 1.6rem;
  color: white;
  margin-top: 0.5rem;
  margin-top: -4rem;
  margin-bottom: 5rem;
  width: 100vw;
  text-align: center;
}

.funcionamento {
  margin-right: 1rem;
}

/* Imagem e video */

figure img {
  width: 70%;
  border-radius: 5px;
  margin-inline: 30%;
}

figure iframe {
  margin: 3rem;
  border-radius: 5px;
  width: 80%;
}
