@import url(./colors.css);
@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

header {
  height: 25rem;
  background: url(../assets/banner.png);
  background-size: cover;
}

nav {
  position: fixed;
  z-index: 8;
  right: 0;
  background-color: #515151a9;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0 0 5px 5px;
  box-shadow: -5px 2px 30px rgb(0, 0, 0);
  transition: ease 800ms;
}

.Open-nav{
  background-color: transparent;
  box-shadow: none;
}

nav svg {
  width: 3rem;
}

body {
  background-color: var(--background-blue);
}

.titulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
}

.titulo div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5rem;
  padding: 2rem;
  background-color: var(--beige);
}

.titulo img {
  margin-right: 1rem;
  width: 30%;
}

.titulo h1 {
  font-size: 3.2rem;
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  color: var(--title);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

span .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--desaturated-blue);
  box-shadow: -8px -5px 0 white;
  color: white;
}

h2 {
  font-size: 2rem;
  margin-top: 8rem;
  text-align: center;
  color: white;
  margin-bottom: 6rem;
}

strong {
  font-size: 2rem;
  color: #e8c17d;
}

.informacoes-iniciais {
  background-color: #e8c17d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 15%;
  border-radius: 5px;
}

.informacoes-iniciais div p{
  text-align: left;
}

.informacoes-iniciais img {
  width: 10rem;
}

.informacoes-iniciais div {
  margin-top: 1rem;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.informacoes-iniciais div h3 {
  font-size: 1.6rem;
  color: white;
  margin-top: 0.5rem;
  margin-top: -4rem;
  margin-bottom: 5rem;
  width: 100vw;
  text-align: center;
}

.funcionamento {
  margin-right: 1rem;
}

.componentes {
  background-color: var(--light-gray);
}

.componentes h2,
.componentes p {
  color: var(--desaturated-blue);
}

.participantes h2 {
  color: var(--desaturated-blue);
}

.first-section img {
  margin-bottom: 6rem;
}

.first-section p {
  text-align: center;
  color: var(--font-color);
}

.second-section {
  margin-bottom: 3re;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 70%;
  border-radius: 5px;
}

.componentes .card {
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.lista-componentes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-componentes figure {
  background-color: var(--desaturated-blue);
  border-radius: 7px;
  width: 8rem;
  height: 8rem;
}

.lista-componentes div {
  display: flex;
  width: 12rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 0.6rem;
}

.lista-componentes p {
  text-align: center;
}

.lista-componentes img {
  width: 60%;
}

.Diferencial {
  margin: 2rem;
}

.Diferencial figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Diferencial img {
  margin-top: -7rem;
  width: 80%;
}

.Diferencial p {
  margin-top: 3rem;
  color: var(--font-color);
  font-weight: 400;
}

.pesquisas {
  color: var(--font-color);
  margin: 4rem;
}

.pesquisas .texts {
  margin-top: -3rem;
}

.third-section .card {
  margin-top: 8rem;
}

.pesquisas span {
  display: inline;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid var(--desaturated-blue);
  box-shadow: -8px -4px 0 var(--desaturated-blue);
}

.pesquisas a {
  display: block;
  color: var(--font-color);
  font-weight: 400;
  text-decoration: none;
  margin-top: 4rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem;
}

footer h2 {
  margin: 0;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.links figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer #nossa-logo {
  width: 15%;
}

#logo-unasp {
  width: 60%;
}

.instagram {
  margin-top: 0.5rem;
}

.instagram svg {
  border-radius: 30%;
  margin: 1rem;
  margin-top: -3rem;
  color: var(--desaturated-blue);
  background-color: transparent;
  display: inline;
  width: 3.3rem;
}

.instagram a {
  color: transparent;
}

footer li {
  margin-top: 1rem;
  list-style: none;
}

.group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.participantes {
  margin-top: 6rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid black;
  text-align: center;
}

.group li,
.group p,
.group a {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-weight: 400;
}

.Navegue {
  margin-top: 3rem;
  text-align: center;
  margin-inline: 10rem;
  margin-bottom: 4rem;
}

.Navegue h2 {
  color: var(--desaturated-blue);
}

.OPEN {
  display: inline;
  width: 0;
  background-color: var(--beige);
  padding: 4rem;

  transition: ease 800ms;
  width: 30rem;
  border-radius: 7px;
  background-color: #ba8d3f;
  margin: 4rem;
}


.oculto {
  display: none;
  transition: ease 800ms;
}
