@import url(./colors.css);
@import url(./fonts.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

html {
  font-size: 62.5%;
}

header {
  height: 25rem;
  background: url(../assets/banner.png);
  background-size: cover;
}

nav {
  background-color: #515151a9;
  color: white;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0.4rem;
  border-radius: 0 0 5px 5px;
}

svg {
  width: 3rem;
}

body {
  background-color: var(--background-blue);
}

.titulo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
  margin-bottom: 5rem;
}

.titulo div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 5rem;
  padding: 2rem;
  background-color: var(--beige);
}

.titulo img {
  margin-right: 1rem;
  width: 30%;
}

.titulo h1 {
  font-size: 3.2rem;
  font-family: "Irish Grover", cursive;
  font-weight: 400;
  color: var(--title);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
}

span .card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  font-size: 2.4rem;
  font-weight: 700;
  background-color: var(--desaturated-blue);
  box-shadow: -8px -5px 0 white;
  color: white;
}

h2 {
  font-size: 2rem;
  margin-top: 8rem;
  text-align: center;
  color: white;
  margin-bottom: 6rem;
}

strong {
  font-size: 2rem;
  color: #e8c17d;
}

.informacoes-iniciais {
  background-color: #e8c17d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 15%;
  border-radius: 5px;
}

.informacoes-iniciais img {
  width: 12rem;
}

.informacoes-iniciais div {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.informacoes-iniciais div p {
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 7rem;
  width: 100vw;
  text-align: center;
}

.funcionamento {
  margin-right: 1rem;
}

.componentes {
  background-color: var(--light-gray);
}

.componentes h2,
.componentes p {
  color: var(--desaturated-blue);
}

.participantes {
  background-color: var(--light-gray);
}

.participantes h2 {
  color: var(--desaturated-blue);
}

.Navegue h2 {
  color: var(--desaturated-blue);
}

.first-section img{
  margin-bottom: 6rem;
}

footer {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--light-gray);
  color: var(--desaturated-blue);
}

.Diferencial {
  color: var(--light-gray);
}

.pesquisas li {
  color: var(--light-gray);
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure img {
  width: 30rem;
  border-radius: 5px;
}

.componentes .card{
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.lista-componentes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-componentes figure {
  background-color: var(--desaturated-blue);
  border-radius: 7px;
  width: 8rem;
  height: 8rem;
}

.lista-componentes div {
  display: flex;
  width: 8rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2rem 2rem;
}

.lista-componentes p {
  text-align: center;
}

.lista-componentes img {
  width: 60%;
}

.Diferencial figure{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Diferencial img{
  width: 90%;
}
