@import url(./global.css);
@import url(./first-section.css);
@import url(./second-section.css);
@import url(third-section.css);
@import url(./colors.css);
@import url(./fonts.css);
@import url(./modal.css);
@import url(./side_menu.css);
@import url(./desktop.css);