

dialog{
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: auto;
    width: fit-content;
    height: fit-content;
    background-color: #ececec;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 0 0 1em rgb(0 0 0 / 1);
}

#modal{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

dialog img{
    width: 50%;
}

#modal p {
    margin-block: 3rem;
}

#modal a{
    text-decoration: none;
    margin-top: 2rem;
    display: inline;
    color: rgb(255, 0, 0);
}