@import url(colors.css);

.second-section {
  margin-bottom: 3re;
}

/* Componentes usados */
.componentes {
  background-color: var(--light-gray);
}

.componentes h2,
.componentes p {
  color: var(--desaturated-blue);
}

p{
  text-align: center;
  margin-bottom: 3rem;
}

.componentes .card {
  margin-top: 5rem;
  margin-bottom: -4rem;
}

.lista-componentes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lista-componentes figure {
  background-color: var(--desaturated-blue);
  border-radius: 7px;
  width: 8rem;
  height: 8rem;
}

.lista-componentes div {
  display: flex;
  width: 12rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 0.6rem;
}

.lista-componentes p {
  text-align: center;
}

.lista-componentes img {
  width: 60%;
}
