@import url(./colors.css);

#menu{
    transition: ease 500ms;
}

.menuStyle {
  margin: 0;
  padding: 0;
  background-color: var(--beige);
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 0;
  height: 100vh;

  transition: ease 500ms;
}

.menuHide {
  background-color: rgba(255, 255, 255, 0);
}

.listStyle{
    padding-top: 8rem;
    padding-left: 2rem;
}

#menu li {
    margin-bottom: 2rem;
  list-style: none;
}

#menu a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

#menu strong{
  color: white;
}

.hide {
  display: none;
}
