@import url(./colors.css);

.third-section {
  margin-inline: 2rem;
}

.third-section .card {
  margin-top: 8rem;
}

/* Conisderações finais */

.Diferencial figure {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Diferencial img {
  margin-top: -7rem;
  width: 80%;
}

.Diferencial p {
  margin-top: 3rem;
  color: var(--font-color);
  font-weight: 400;
}

/* Bibliografia */

.pesquisas {
  color: var(--font-color);
  margin: 4rem;
}

.pesquisas .texts {
  margin-top: -3rem;
}

.pesquisas span {
  display: inline;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid var(--desaturated-blue);
  box-shadow: -8px -4px 0 var(--desaturated-blue);
}

.pesquisas a {
  display: block;
  color: var(--font-color);
  font-weight: 400;
  text-decoration: none;
  margin-top: 4rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
