@import url(../fonts.css);
@import url(../colors.css);

.intro-card {
  background-color: var(--beige);
  margin-block: 2rem;
  padding: 1rem;
  border-radius: 5px;
  width: 20rem;
}


.intro-card:hover{
  cursor: pointer;
  background-color: #cea255;
  transition: ease 300ms;
}

h3 {
  font-size: 2rem;
  text-align: center;
  color: rgb(252, 252, 252);
  margin-bottom: 2rem;
}

.intro-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.titulo svg {
  width: 5rem;
  margin-inline: 1rem;
  color: var(--title);
}

.intro-card a p {
  color: black;
}

.intro-card img {
  width: 100%;
  padding: 0;
  margin-block: 1rem;
  border-radius: 5px;
}

.cards-links {
  padding-inline: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#Pages_Menu-icons{
  text-align: center;
  text-decoration: underline;
  margin-right: 0.5rem;
  width: 2rem;
}
