@import url(../colors.css);
@import url(../fonts.css);

header {
  background: url(../../assets/Dog-Banner.png) no-repeat;
  height: 95vh;
  background-position: center;
  background-size: cover;
}

#Pages_Menu-icons{
  text-align: center;
  text-decoration: underline;
  margin-right: 0.5rem;
  width: 2rem;
}
